#settings-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.settings-top-part  {
    width: 100%;
    height: 300px;
    margin-top: 95px;
    background-color: rgb(234, 227, 227);
}

.settings-container-part {
    width: 60%;
    height: 100vh;
    margin-top: -250px;
    
}

.settings-content-part {
   width: 100%;
   height: 100vh;
   background-color: #2c2f2e;
   border-radius: 20px;
   display: flex;
   padding: 20px;
   
}

h3.settings-header {
    font-size: 2.5rem;
    font-family: sans-serif;
    color: #17cf97;
    letter-spacing: 1px;
    font-weight: 1000;
    margin-bottom: -10px;
}

p.settings-header {
    font-size: 1.3rem;
    font-family: sans-serif;
    color: rgb(77, 76, 76);
    font-weight: 1000;
}


.upload-div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.upload-pic-div {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-btn-div {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.upload-pic {
    width: 70%;
    height: 70%;
    border-radius: 80px;
}

.upload-btn{
    width: 200px;
    height: 50px;
    background: #17cf97;
    color: white;
    font-family: sans-serif;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.upload-btn:hover {
    background:grey;
    transition: 0.3s ease;
}

.settings-form-div {
    flex: 2;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #17cf97;
    border-radius: 20px;
}

.settings-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;

}

.settings-form-input {
    width: 100%;
    height: 60px;
    font-size: 1.3rem;
    border-radius: 10px;
    background: white;
    color: black;
    font-family: sans-serif;
    font-weight: 300;
    border: none;
    align-self: flex-start;
}

.settings-label {
    margin: 10px 0;
    font-family: sans-serif;
    font-size: 1.1rem;
    color: black;
    font-weight: 600;
    align-self: flex-start;
    
}

.settings-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.settings-btn {
    margin: 0 20px;
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    font-family: sans-serif;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    border: none;
}  

.settings-btn:hover,
.settings-btn:active {
    background: orange;
    transition: 0.3 ease;
}

.change 
{
    align-self: flex-end;
    margin-bottom: 0;
}

.change,
.deleteAcc {
    font-family: sans-serif;
    font-size: 1.2;
    font-weight: 100;
    color: rgba(24, 21, 21, 0.492);
    font-style: italic;
}